<!DOCTYPE html>
<html>
  <head>
    <title>Random Compliment</title>
  </head>
  <body>
    <h1>Your Compliment</h1>
    <p><%= @compliment.message %></p>

    <!-- Bot칩n para cargar otro mensaje -->
    <%= link_to "Cargar otro mensaje", root_path, class: "btn btn-primary" %>
    <%= link_to "Create New Compliment", new_compliment_path, class: "btn btn-success" %>
    

    

    <% if current_user %> <!-- Verificaci칩n de si el usuario est치 autenticado -->
      <h1>All Compliments</h1>
      <ul>
        <% @compliments.each do |compliment| %>
          <li>
            <strong>Message:</strong> <%= compliment.message %>
            <%= link_to 'Edit', edit_compliment_path(compliment), class: "btn btn-primary" %>
          </li>
        <% end %>
      </ul>
      <% if @compliments.empty? %>
        <p>No compliments available yet!</p>
      <% end %>
    <% end %> <!-- Fin de la verificaci칩n de usuario autenticado -->

  </body>
</html>
